@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
     
   

    dialog{
      width: 42%;
      height: 42vh;
      margin: auto;
      border: none;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    form{
      display: flex;
      flex-direction: column;
      margin: 2vh 2% 2vh 2%;

    }

    form label{
      margin-top: 5px;
      margin-bottom: 6px;
      font-size: 15px;
      font-family: 'ubuntu', sans-serif;
      color:rgba(104, 103, 103, 0.995)
    }
    form input{
      outline: none;
      padding: 5px;
      
    }
    form input:focus{
      border: 1px solid #2aa0ef;
      border-radius: 6px;
    }
    form .submit{
      padding: 5px;
      background-color: #2aa0ef;
      outline: none;
      border: 1px solid #2aa0ef;
      border-radius: 4px;
      font-family: "Share Tech", sans-serif;
      color: white;
    }
    form .choix{
      color:#2aa0ef;
      accent-color: #2aa0ef;
      border: 1px solid #2aa0ef;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-left: 5px;
    }

h1{
    margin-left: 9vw;
    font-family: "Share Tech", sans-serif;
  }

button{
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    border: 1px solid #0757cf;
    border-radius: 4px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    font-family: 'Ubuntu', 'Serif';
    font-weight: 500;
    font-family: "Ubuntu";
}


.book{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    position: relative;
}
.btnstatuts{
    position: absolute;
    bottom: 2vh;
    left: 3vw;
}

.delete{
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    background-color: red;
    border: 1px solid red;
    padding: 5px;
    font-family: "Share Tech", sans-serif;
}

.addbtn{
    background-color: #2aa0ef;
    border: 1px solid #2aa0ef;
    margin-left: 9vw;
    margin-top: 3vh;

  }
  h4{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    color: rgb(17, 143, 211);
    font-family: "Share Tech", sans-serif;
  }
  h6{
    margin-left: 7vw;
    margin-top: 10px;
    color: rgb(117, 117, 118);
    font-size: 28px;
    font-family: "Ubuntu", sans-serif;
  }

/* Mobile (jusqu'à 767px) */
@media (max-width: 767px) {

  .books {
    width: 100vw;
    min-height: 100vh;
  }

  .book{
    width: 80vw;
    height: 35vh;
    background-color: white;
    border-radius: 8px;
    margin: 3vh 10vw 4vh 9vw;
  }


}

/* Tablette (768px à 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {


  .books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
.book{

    width: 30vw;
    height: 35vh;
    background-color: white;
    border-radius: 8px;
    margin: 3vh 10vw 4vh 9vw;
    border: 1px solid black;

  }
  .addbtn{
    margin-left: 4vw;
    margin-top: 5vh;
  }
}


@media (min-width: 1024px) {
    .books {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
  }
  h1{
    margin-left: 4vw;
  }
  .book {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    margin: 25px 25px 20px 4vw;
    border: 1px solid black;

  }
  .btnstatuts{
    bottom: 10px;
    left: 10px;
}

.delete{
    bottom: 10px;
    right: 10px;

}
  .addbtn{
    margin-left: 4vw;
    margin-top: 5vh;
  }
}